<?xml version="1.0"?>
<model>
  <name>p450_SSlidar</name>
  <version>1.0</version>
  <sdf version='1.6'>p450_SSlidar.sdf</sdf>

  <author>
   <name>SeanZ</name>
   <email>example@126.com</email>
  </author>

  <description>
    This is a model of the p450 Quadrotor with solid state lidar.
  </description>
</model>
