<launch>

<arg name="uav_name" default="/uav0"/>
<arg name="vehicle" default="p450_sslidar"/>
<arg name="ID" default="0"/>
<arg name="x" default="0.0"/>
<arg name="y" default="0.0"/>
<arg name="z" default="0.2"/>
<arg name="R" default="0.0"/>
<arg name="P" default="0.0"/>
<arg name="Y" default="0.0"/>


	
<!-- PX4 --> 
	<arg name="interactive" default="true"/>
	<arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
	<arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
<node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_$(arg vehicle)_$(arg ID) $(arg px4_command_arg1)"/>


<!-- Spawn vehicle model -->
	<arg name="mavlink_udp_port" value="$(eval 14560 + arg('ID'))"/>
	<arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/>

	<!-- 使用xmlstarlet工具修改sdf文件内容：更改mavlink_tcp_port -->
	<arg name="cmd" value="xmlstarlet ed -d '//plugin[@name=&quot;mavlink_interface&quot;]/mavlink_tcp_port' 
	-s '//plugin[@name=&quot;mavlink_interface&quot;]' 	-t elem 	-n mavlink_tcp_port -v $(arg mavlink_tcp_port) $(find fuel_in_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
	
	<param name="model_description" command="$(arg cmd)"/>

<node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -param model_description -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>


<!-- MAVROS -->
	<arg name="udp_offboard_port_remote" value="$(eval 14540 + arg('ID'))"/>
	<arg name="udp_offboard_port_local" value="$(eval 14580 + arg('ID'))"/>
<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
	<param name="fcu_url" value="udp://:$(arg udp_offboard_port_remote)@localhost:$(arg udp_offboard_port_local)"/>
	<param name="gcs_url" value="" />
	<param name="target_system_id" value="$(eval 1 + arg('ID'))"/>
	<param name="target_component_id" value="1" />
	<rosparam command="load" file="$(find fuel_in_gazebo)/config/px4_pluginlists.yaml" />
	<rosparam command="load" file="$(find fuel_in_gazebo)/config/px4_config.yaml" />
</node>


<!-- TF transform -->
<include file="$(find fuel_in_gazebo)/launch/include/tf_transform.launch">
	<arg name="x" value="$(arg x)"/>
	<arg name="y" value="$(arg y)"/>
	<arg name="z" value="$(arg z)"/>
</include>


<!-- run the px4_pos_estimator -->
	<arg name="input_source" default="2"/>
	<arg name="rate_hz" default="30"/>
<node pkg="prometheus_control" type="px4_pos_estimator" name="px4_pos_estimator" output="screen">
	<!-- 0 vicon， 1 l-SLAM, 2 gazebo ground truth, 3 T265 -->
	<param name="uav_name" value="$(arg uav_name)"/>
	<param name="input_source" value="$(arg input_source)" />
	<param name="rate_hz" value="$(arg rate_hz)" />
	<param name="offset_x" value="$(arg x)" />
	<param name="offset_y" value="$(arg y)" />
	<param name="offset_z" value="$(arg z)" />
</node>


<!-- run the px4_sender -->
<node pkg="prometheus_control" type="px4_sender" name="px4_sender" output="screen">
	<rosparam command="load" file="$(find fuel_in_gazebo)/config/px4_sender.yaml"/>
	<param name="uav_name" value="$(arg uav_name)"/>
</node>


<!-- run the ground_station -->
<node pkg="prometheus_station" type="ground_station" name="ground_station" output="screen" launch-prefix="gnome-terminal --tab --">
	<param name="uav_name" value="$(arg uav_name)"/>	
</node>


</launch>