<!-- 本launch为使用px4_sender进行机载控制时的机载端启动脚本 -->
<launch>
	<!-- uav_name -->
	<arg name="uav_name" default="/uav0"/>
	<arg name="ID" default="0"/>

	<!-- 启动MAVROS -->
	<!-- 不同机载电脑,注意修改fcu_url至正确的端口号及波特率 -->
	<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
		<param name="fcu_url" value="/dev/ttyTHS0:921600" />
		<!--param name="gcs_url" value="udp://@192.168.31.46" / -->
		<param name="gcs_url" value="" />
		<param name="target_system_id" value="$(eval 1 + arg('ID'))"/>
		<param name="target_component_id" value="1" />
		<rosparam command="load" file="$(find exploration_manager)/config/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find exploration_manager)/config/px4_config.yaml" />
	</node>
    
    <include file="$(find p450_experiment)/launch_basic/rs_t265.launch">
    </include>
    

	<!-- 启动Prometheus代码 -->
	<!-- run the px4_pos_estimator.cpp -->
	<node pkg="prometheus_control" type="px4_pos_estimator" name="px4_pos_estimator" output="screen">
		<!-- 0 for vicon， 1 for 激光SLAM, 2 for gazebo ground truth(仿真用) -->
		<param name="input_source" value="3" />
		<param name="uav_name" value="$(arg uav_name)"/>
		<param name="offset_x" value="0"/>
		<param name="offset_y" value="0"/>
		<param name="offset_z" value="0"/>
	</node>
	
	<!-- run the px4_sender.cpp -->
	<node pkg="prometheus_control" type="px4_sender" name="px4_sender" output="screen">
		<rosparam command="load" file="$(find p450_experiment)/config/prometheus_control_config/px4_sender.yaml"/>
		<param name="uav_name" value="$(arg uav_name)"/>
	</node>

	<!-- run the ground_station.cpp -->
	<node pkg="prometheus_station" type="ground_station" name="ground_station" output="screen" launch-prefix="gnome-terminal --tab --">
		<param name="uav_name" value="$(arg uav_name)"/>	
	</node>

</launch>

