<launch>

  <arg name="uav_name" default="/uav0"/>
  <arg name="uav_name_" default="uav0"/>

  <!-- initial pose -->
  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="0.0"/>

  <!-- map and box size -->
  <arg name="map_size_x" default="50.0"/>
  <arg name="map_size_y" default="50.0"/>
  <arg name="map_size_z" default=" 3.0"/>
  <arg name="box_min_x" default="-1.0"/>
  <arg name="box_min_y" default="-8.0"/>
  <arg name="box_min_z" default=" -0.2"/>
  <arg name="box_max_x" default="8.0"/>
  <arg name="box_max_y" default="2.0"/>
  <arg name="box_max_z" default="1.0"/>

  
  <!-- odom and sensor pose -->
  <arg name="odom_topic" value="$(arg uav_name)/mavros/local_position/odom"/>

  <!-- blick-feld lidar scanner -->
  <include file="$(find exploration_manager)/launch/include/live_scanner.launch">
    <arg name="uav_name_" value="$(arg uav_name_)"/>
  </include>

  <!-- pub sensor pose (convert from odom, if not provided) -->
  <node name="pub_sensor_pose" pkg="msg_conversion" type="pub_sensor_pose" output="screen"> 
			<param name="uav_name" value="$(arg uav_name)"/>
	</node>

  <!-- exploration node -->
  <include file="$(find exploration_manager)/launch/include/algorithm_lidar.launch">

    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="box_min_x" value="$(arg box_min_x)"/>
    <arg name="box_min_y" value="$(arg box_min_y)"/>
    <arg name="box_min_z" value="$(arg box_min_z)"/>
    <arg name="box_max_x" value="$(arg box_max_x)"/>
    <arg name="box_max_y" value="$(arg box_max_y)"/>
    <arg name="box_max_z" value="$(arg box_max_z)"/>

    <arg name="rotate_lidar_points" value="true"/>

    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <!-- <arg name="sensor_pose_topic" value="/mavros/vision_pose/pose"/> -->
    <!-- <arg name="sensor_pose_topic" value="/mavros/local_position/pose"/> -->
    <arg name="sensor_pose_topic" value="$(arg uav_name)/pub_sensor_pose/sensor_pose"/>
      
    <!-- depth topic: depth image, 640x480 by default -->
    <!-- cloud topic: point cloud measurement  -->
    <!-- subscribe ONLY TO ONE of the two topics -->
    <arg name="depth_topic" value="/camera/depth/image_raw"/>
    <arg name="cloud_topic" value="$(arg uav_name)/bf_lidar_$(arg uav_name_)/points_raw"/>

    <arg name="max_vel" value="0.6" />
    <arg name="max_acc" value="0.4" />

  </include>
 

  <!-- trajectory server -->
  <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
    
    <remap from="/position_cmd" to="$(arg uav_name)/planning/pos_cmd"/>

    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <param name="traj_server/time_forward" value="1.5" type="double"/>
    <param name="traj_server/pub_traj_id" value="4" type="int"/>
    <param name="traj_server/init_x" value="$(arg init_x)" type="double"/>
    <param name="traj_server/init_y" value="$(arg init_y)" type="double"/>
    <param name="traj_server/init_z" value="$(arg init_z)" type="double"/>

    <param name="perception_utils/top_angle" value="0.56125" type="double"/>
    <param name="perception_utils/left_angle" value="0.69222" type="double"/>
    <param name="perception_utils/right_angle" value="0.68901" type="double"/>
    <param name="perception_utils/max_dist" value="8.0" type="double"/>
    <param name="perception_utils/vis_dist" value="4.0" type="double"/>  

  </node>


</launch>
