<?xml version="1.0"?>
<model>
  <name>p450_sslidar2</name>
  <version>1.0</version>
  <sdf version='1.6'>p450_sslidar2.sdf</sdf>

  <author>
   <name>SeanZ</name>
   <email>cnzhaoxy@gmail.com</email>
  </author>

  <description>
    This is a model of the p450 Quadrotor with solid state lidar.
  </description>
</model>
